/* Reset default margin and padding */
body, ol {
  margin: 0;
  padding: 0;
}

/* Set background color and center the content */
body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
}

#main {
  display: flex;
  margin-bottom: 10px;
}

#input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

button:last-child {
  background-color: #f44336;
}

button:last-child:hover {
  background-color: #da190b;
}

ol {
  list-style-type: none;
}

li {
  padding: 5px 0;
  font-size: 16px;
}

/* Add font-awesome icon to the "Delete All" button */
button:last-child::before {
  content: "\f2ed";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 5px;
}



